body {
  /* background-color: #e6ecf0; */
  /* background-color: darkgrey; */
  /* background-color: #555555; */
  background-color: #656565;
  margin: 0;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: crimson;
  border-bottom: solid gold 0;
}

@media (max-width: 575px){
  #user-groups {
    margin-left: 50px;
    margin-top: 30px;
  }

  #user-group-btns {
    position: absolute;
    right: 15px;
    top: 40%;
  }

  .user-full-name {
    position: relative;
    font-size: 20px;
    /* margin-left: 10px; */
    left: 30px;
  }

  div.show-icon i.fas {
    font-size: 40px;
    border-radius: 100px;
    padding: 80px 40px 20px 50px;
  }

  #graph {
    position: relative;
    margin-top: 50px;
    width: 200px;
    height: 300px;
    left: 100px;
  }

  #user-list {
    margin-left: 25px;
    /* padding-left: 0; */
  }

  .awards-points-table {
    width: 100%;
    border-spacing: 5px;
    /* table-layout: fixed; */
  }

  /* table {
    border-spacing: 20px;
    table-layout: fixed;
  } */

  .film-title {
    margin-left: 30%;
  }
  .film-rating {
    margin-left: 30%;
  }
  .film-poster {
    margin-left: 15%;
  }
  
  .awards-points-table .cat-column {
    width: 300px
  }
  
  #points-breakdown {
    border: 1px solid black;
    width: 200px;
    margin-left: 0;
    margin-bottom: 15px;
    padding-left: 5px;
    border-spacing: 20px;
    table-layout: fixed;
  }
  
  #points-breakdown td,
  th {
    padding-left: 5px;
    width: 100px;
  }
  
  #points-breakdown .points-columns {
    width: 50px;
  }
  #points-breakdown .categories {
    width: 150px;
  }
}

@media (min-width: 575px){
  .user-full-name {
    font-size: 25px;
    margin-left: 5px;
  }

  #user-groups {
    margin-top: 50px;
    margin-left: 80px;
  }

  #user-group-btns {
    position: absolute;
    right: 15px;
  }

  div.show-icon i.fas {
    font-size: 40px;
    border-radius: 100px;
    padding: 80px 40px 20px 50px;
  }

  /* .film-title {
    margin-left: 35%;
  }
  .film-rating {
    margin-left: 35%;
  }
  .film-poster {
    margin-left: 20%;
  } */

  #points-breakdown {
    border: 1px solid black;
    width: 200px;
    margin-left: 0;
    margin-bottom: 15px;
    padding-left: 5px;
    border-spacing: 20px;
    table-layout: fixed;
  }
  
  #points-breakdown td,
  th {
    padding-left: 5px;
    width: 100px;
  }
  
  #points-breakdown .points-columns {
    width: 50px;
  }
  #points-breakdown .categories {
    width: 180px;
  }
}

@media (max-width: 770px){
  #profile-avatar {
    border-radius: 100%;
    display: block;
    margin-left: -15px;
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    /* margin-top: -50px; */
    z-index: 1;
    position: relative;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  }

  #sidebar-username {
    /* margin-top: 30px; */
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    word-wrap: break-word;
  }

  /* #user-groups {
    margin-top: 50px;
    margin-left: 80px;
  } */

  .film-title {
    margin-left: 35%;
  }
  .film-rating {
    margin-left: 35%;
  }
  .film-poster {
    margin-left: 20%;
  }
}

@media (min-width: 770px) {
  #profile-avatar {
    border-radius: 100%;
    display: block;
    margin-left: -15px;
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    /* margin-top: -50px; */
    z-index: 1;
    position: relative;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  }

  #sidebar-username {
    /* margin-top: 30px; */
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    word-wrap: break-word;
  }

  .user-full-name {
    font-size: 35px;
  }

  div.show-icon i.fas {
    /* display: inline-block;
    background-color: green; */
    font-size: 70px;
    border-radius: 100px;
    padding: 80px 53px 40px 50px;
  }

  #graph {
    position: relative;
    margin-top: 50px;
    width: 200px;
    height: 300px;
    left: -30px;
  }

  .film-title {
    margin-left: 40%;
  }
  .film-rating {
    margin-left: 40%;
  }
  .film-poster {
    margin-left: 30%;
  }

  #points-breakdown {
    border: 1px solid black;
    width: 100px;
    margin-left: 0;
    margin-bottom: 15px;
    padding-left: 5px;
    border-spacing: 20px;
    table-layout: fixed;
  }
  
  #points-breakdown td,
  th {
    padding-left: 5px;
    width: 200px;
  }
  
  #points-breakdown .points-columns {
    width: 80px;
  }
}

/* #graph {
  position: relative;
  margin-top: 50px;
  width: 200px;
  height: 300px;
  left: -30px;
} */

.timeline-image {
  border-radius: 38px;
  height: 38px;
  width: 38px;
  margin-top: 2px;
}

.timeline-img-link {
  width: 50px;
  display: inline-block;
}

.full-width {
  width: 100vw;
  margin: 0 -50vw;
  position: relative;
  left: 50%;
  right: 50%;
}

.row.full-width {
  /* background-color: #fff; */
  background-color: gold;
  margin-top: -80px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  height: 60px;
  align-items: center;
}

#user-groups {
  display: block;
  margin-right: 20px;
}

#user-groups p {
  font-size: 25px;
}

#user-groups ul {
  list-style-type: none;
}

#user-groups ul li a {
  color: gold;
  font-size: 1.1em;
  text-decoration: none;
}

#user-groups ul li a:hover {
  opacity: 0.7;
}

/* #user-groups #user-list li a {
  color: white;
  font-size: 1em;
} */

#user-list {
  display: block;
  margin-right: 20px;
}

#user-list p {
  font-size: 25px;
}

#user-list ul {
  
  list-style-type: none;
}

#user-list ul li a {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

#user-list ul li a:hover {
  opacity: 0.7;
}

/* #user-list ul li a {
  color: white;
  font-size: 1em;
} */

.user-group-name {
  margin-left: 5px;
}

.user-film-name {
  margin-left: 15px;
}

.user-film-table {
  border-spacing: 20px;
  table-layout: fixed;
}

.user-film-table td, th {
  width: 50px
}

.user-film-table .point-column {
  width: 60px;
}
.user-film-table .film-column {
  width: 300px;
}

/* #points-breakdown {
  border: 1px solid black;
  width: 100px;
  margin-left: 0;
  margin-bottom: 15px;
  padding-left: 5px;
  border-spacing: 20px;
  table-layout: fixed;
}

#points-breakdown td,
th {
  padding-left: 5px;
  width: 200px;
}

#points-breakdown .points-columns {
  width: 80px;
} */

/* #user-group-btns {
  position: absolute;
  right: 15px;
} */

.remove-film-button {
  border: none;
}
.remove-film-button:hover {
  background-color: #e6ecf0;
}

.del-film-form {
  display: inline-block;
  width: 50px;
}

#footer {
  /* margin-top: auto; */
  /* position: relative;
  left: 0;
  bottom: 0; */
  /* width: 100%; */
  /* background-color: #111; */
  margin-top: auto;
  width: 100%;
  background-color: crimson;
  border-top: solid gold 4px;
}

.footer {
  margin-top: auto;
  /* position: relative;
  left: 0;
  bottom: 0; */
  width: 100%;
  background-color: #111;
}

.footer-nav {
  margin: 15px 0;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer-nav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

#footer div div ul li a:hover {
  opacity: 0.5;
}

.footer-bottom {
  /* background-color: #000; */
  background-color: maroon;
  right: -50px;
  padding: 15px 20px;
  text-align: center;
}

footer div small {
  padding-right: 5px;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 700px){
  .footer-nav ul {
    flex-direction: column;
  }

  .footer-nav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}

div i.fas {
  display: none;
}

div img {
  display: block;
}

div.show-icon i.fas {
  display: inline-block;
  background-color: green;
  /* font-size: 70px;
  border-radius: 100px;
  padding: 80px 53px 40px 50px; */
}

div.show-icon img {
  display: none;
}

.disable-click {
  pointer-events: none;
  visibility: hidden;
}

#list-of-groups {
  list-style-type: none;
}

#list-of-groups li a {
  color: gold;
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.5s;
}

#list-of-groups li a:hover {
  opacity: 0.6;
}

/* i.fa-user-group {
  font-size: 70px;
  border-radius: 100px;
  padding: 80px 53px 40px 50px;
} */