{% extends 'base.html' %}

{% block content %}

<h1>{{title}}</h1>
<h4>{{rating}}</h4>

<img src="{{poster}}" alt="Poster for {{title}}" class="mb-5">



{% for show in award_shows %}
<table class="table">
  <thead>
    <tr>
      <th>{{show}}</th>
      <th>Nom Points</th>
      <th>Win Points</th>
    </tr>
  </thead>
  <tbody>
    {% for category in award_shows[show] %}

    <tr>
      <td>{{category}}</td>
      <td>
        {% for show_cat in film.category_show_points %}
          {% if show_cat.showyear.award_show.show_name == show and show_cat.category.category_name == category and show_cat.nom_or_win == 'nom' %}

          {{show_cat.points}}


          {% endif %}
        {% endfor %}
      </td>
      
      <td class="wins-cell">
        {% for show_cat in film.category_show_points %}
          {% if show_cat.showyear.award_show.show_name == show and show_cat.category.category_name == category and show_cat.nom_or_win == 'win' %}
          
            {{show_cat.points}}

          {% endif %}
        {% endfor %}
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endfor %}

<!-- {% for show in award_shows %}
<table class="table">
  <thead>
    <tr>
      <th>{{show.show_name}}</th>
      <th>Nom Points</th>
      <th>Win Points</th>
    </tr>
  </thead>
  <tbody>
    {% for nomination in film.filmnoms %}
    {% if nomination.nom_point.nomed_category_show.award_show.show_name == show.show_name %}

    <tr>
      <td>{{nomination.nom_point.nomed_category_show.category.category_name}}</td>
      <td>{{nomination.nom_point.points}}</td>
      <td>
        {% for win in film.filmwins %}
        {% if win.win_point.won_category_show.category.category_name == nomination.nom_point.nomed_category_show.category.category_name and win.win_point.won_category_show.award_show.show_name == show.show_name%}
          {{win.win_point.points}}

        {% else %}
          ----

        {% endif %}
        {% endfor %}
      </td>
    </tr>

    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endfor %} -->

{% endblock %}