{% extends 'base.html' %}

{% block title %}{{title}} Awards Info{% endblock %}

{% block content %}

<div class="container-fluid">
  <h1 class="film-title">{{title}}</h1>
  <h4 class="film-rating">{{rating}}</h4>

  <img src="{{poster}}" alt="Poster for {{title}}" class="mb-5 film-poster">
</div>



{% for show in award_shows %}
<table class="table awards-points-table">
  <thead>
    <tr>
      <th class="cat-column">{{show}}</th>
      <th class="nom-column">Nom Points</th>
      <th>Win Points</th>
    </tr>
  </thead>
  <tbody>
    {% for category in award_shows[show] %}

    <tr>
      <td>{{category}}</td>
      <td>
        {% for show_cat in film.category_show_points %}
          {% if show_cat.showyear.award_show.show_name == show and show_cat.category.category_name == category and show_cat.nom_or_win == 'nom' %}

          {{show_cat.points}}


          {% endif %}
        {% endfor %}
      </td>
      
      <td class="wins-cell">
        {% for show_cat in film.category_show_points %}
          {% if show_cat.showyear.award_show.show_name == show and show_cat.category.category_name == category and show_cat.nom_or_win == 'win' %}
          
            {{show_cat.points}}

          {% endif %}
        {% endfor %}
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endfor %}

{% endblock %}