{% extends 'base.html' %}

{% block title %}Groups Page{% endblock %}

{% block content %}

<h1>Join or Create a Group!</h1>
<p>To join a group, just click the group name, click "Join Group", and enter the group password (if there is one).</p>

<ul id="list-of-groups">
{% for group in groups %}
  <li>
     <a href="{{ url_for('show_group_info', group_id=group.id) }}">{{ group.group_name }}</a>
  </li>
{% endfor %}
</ul>

<p><a class="btn btn-primary" href="{{url_for('create_new_group')}}">Add a group</a></p>

{% endblock %}