{% extends 'base.html' %}

{% block content %}


<img src="https:kfjlsfj.com" alt="Image for example" id="profile-avatar">
<div class="row full-width">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-9">
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Messages</p>
            <h4>
              
            </h4>
          </li>
          <li class="stat">
            <p class="small">Following</p>
            <h4>
              
            </h4>
          </li>
          <li class="stat">
            <p class="small">Followers</p>
            <h4>
              <!-- {{g.user}} -->
            </h4>
          </li>
          <li class="stat">
            <p class="small">Likes</p>
            <h4></h4>
          </li>
          <div class="ml-auto">
            
            {% if group.usergroups[0].is_admin and g.user.id == group.usergroups[0].user_id %}
            <a href="/groups/{{group.id}}/edit-group" class="btn btn-outline-secondary">Edit Group</a>
            <form method="POST" action="/groups/{{group.id}}/delete" class="form-inline">
              <button class="btn btn-outline-danger ml-2">Delete Group</button>
            </form>
            {% else %}

            {% if group.has_user(g.user) %}
            <a href="/{{group.id}}/films/draft" class="btn btn-outline-success">Draft Film</a>
            <form method="POST" action="/groups/{{ group.id }}/leave-group">
              <button class="btn btn-primary">Leave Group</button>
            </form>
            {% else %}
            <form method="POST" action="/groups/{{ group.id }}/join-group">
              <button class="btn btn-outline-primary">Join Group</button>
            </form>
            {% endif %}
            {% endif %}
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4 id="sidebar-username">@{{ group.group_name }}</h4>
    
    <!-- <img src="https://i.ibb.co/FxkBTLm/Empty-Profile-Pic.jpg" alt="an image again"> -->
    
    <!-- <a href="https://imgbb.com/"><img src="https://i.ibb.co/FxkBTLm/Empty-Profile-Pic.jpg" alt="Empty-Profile-Pic" border="0"></a><br /><a target='_blank' href='https://dedupelist.com/'>exclude duplicates</a><br />
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg" alt="an image again"> -->
  </div>

  <div id="user-groups">
    <p>Members:</p>
    <ul>
      {% for user in group.users %}
        <li>
          <a href="/users/{{ user.id }}">{{ user.username }}</a>
          {% if user.id == g.user.id %}
          {% for ug in group.usergroups %}
          {% if ug.group.id == group.id and ug.user.id == g.user.id %}
          <a href="/groupusers/{{ug.id}}/films/draft" class="btn btn-outline-success btn-sm">Draft Film</a>
          {% endif %}
          {% endfor %}
          {% endif %}

          <ul>
            {% for ug in group.usergroups %}
            <!-- {% if ug.group.id == group.id and ug.user.id == g.user.id %}
            <a href="/{{ug.id}}/films/draft" class="btn btn-outline-success">Draft Film</a>
            {% endif %} -->
            {% if ug.user.id == user.id %}
            {% for film in ug.films %}
            <li>
              <a href="/films/{{film.id}}">{{film.title}}</a> -> {{film.total_points}}
              {% if ug.user.id == g.user.id %}
              <form method="POST" action="/groupusers/{{ug.id}}/films/{{film.id}}/undraft" class="del-film-form">
                <button class="btn btn-outline-danger remove-film-button">
                  <i class="far fa-trash-can text-danger"></i>
                </button>
              </form>
              <!-- <i class="far fa-trash-can text-danger"></i> -->
              {% endif %}
            </li>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <!-- {% for ug in user.usergroups %}
            {% if ug.id == group.id %}
            {% for film in ug.groupuserfilms %}
            <li>
              {{film.chosen_film.title}}
            </li>
            {% endfor %}
            {% endif %}
            {% endfor %} -->
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  
  <!-- <div id="user-group-btns">
    <a class="btn btn-primary" href="/">Join group</a>
    <a class="btn btn-primary" href="/groups/add">Leave group</a>
  </div> -->
  

</div>

{% endblock %}