{% extends 'base.html' %}

{% block title %}How To Draft/Play{% endblock %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Welcome! Want to learn how to play?</h2>

      <h4>What to do next?</h4>
      <p>
        Now that you've created your account, you can either <a href="/groups">join a group</a> or <a href="/groups/add">create your own group</a>! 
      </p>

      <h4>What about drafting films?</h4>
      <p>
        It is only once you are part of a group that you can draft films to recieve points and compete with others.  Each group can have a maximum of 8 people in them; this is mostly due to the fact that there are more movies that come out in a given year than there are movies that get nominated and win awards, so past 8 members in a group, you risk a number of the members getting 0 points the entire awards season (which is never fun)...
      </p>

      <p>
        Each member in a group can draft a total of 8 films, and once a film has been drafted by one group member, it can't be drafted again.  So, if your buddy Luke drafts <i>Oppenheimer</i> (in the 2023 season), then you would not be able to draft the film yourself.  We recommend making sure everyone you want in your group has joined and to decide on a "snake draft order" (more on this in a moment) before beginning your draft picks, but if you really want, you can draft all of your picks before your buddies get in.
      </p>

      <h4>Umm...What is "snake draft order"?</h4>
      <p>
        Now, "What is a snake draft order?" you may be asking.  Well, it's a drafting order where the first person to draft in round 1 will be the last person to draft in round 2, then back at the top for round 3.  So, if you have 3 members -> Rey, Finn, and Poe, and it's decided that your order will be 1 - Finn, 2 - Poe, and 3 - Rey, then with "snake order", in rounds 1, 3, 5, and 7 the 3 members will draft their films in this order decided on.  In rounds 2, 4, 6, and 8, however, the order will be 1 - Rey, 2 - Poe, 3 - Finn.
      </p>

      <p>
        If it sounds complicated, trust us when we say, "it's easier than you think".  Whatever way you decide to draft your films (snake, regular order, or another way), we'd suggest getting on a zoom or facetime call with your friends/group members, so you can all draft your films together and have a ball as you yell out with delight as someone else cries out in anger that their film has been drafted by someone else before they could get to it! Haha!!
      </p>

      <h4>Anything Else?</h4>
      <p>
        Other than that, you can pretty much just sit back and wait for the points to roll in as nominations and wins get announced for films.  If you want, you can make any edits to your profile by clicking <a href="/users/{{g.user.id}}/edit">here</a>, or navigating to your profile using the navbar.
      </p>

      <p>
        And if you'd like to learn more about how and why this Awards Draft came into being, or learn the point system we have in place, you can click <a href="/about">here</a>.  Thank you for signing up an <b>HAPPY DRAFTING!!<i class="far fa-face-laugh-beam"></i></b>
      </p>
      
    </div>
  </div>

{% endblock %}