{% extends 'base.html' %}

{% block title %}Join Private Group{% endblock %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Please enter password to join</h2>
      <p>or, in the words of Gandalf, "Speak 'friend' and enter"!</p>

      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg">Join Group</button>
      </form>
    </div>
  </div>

{% endblock %}