{% extends 'base.html' %}

{% block content %}


<img src="{{ user.img_url }}" alt="Image for {{ user.username }}" id="profile-avatar">
<div class="row full-width">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-9">
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="ml-3 text-dark user-full-name">{{user.full_name}}</p>
          </li>
          <div class="ml-auto">
            {% if g.user.id == user.id %}

              <a href="/users/edit-profile" class="btn btn-outline-secondary">Edit Profile</a>
              <form method="POST" action="/users/delete" class="form-inline">
                <button class="btn btn-outline-danger ml-2">Delete Profile</button>
              </form>

            {% endif %}
            
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4 id="sidebar-username" class="mt-3">{{ user.username }}</h4>
  </div>

  <div id="user-groups">
    <p>Groups:</p>
    <ul>
      {% for group in user.groups %}

          <li>
            <a href="/groups/{{ group.id }}">{{ group.group_name }}</a>
          </li>

      {% endfor %}
    </ul>
  </div>
  
  {% if g.user.id == user.id %}

    <div id="user-group-btns">
      <a class="btn btn-primary" href="/">Join a group</a>
      <a class="btn btn-primary" href="/groups/add">Make a new group</a>
    </div>

  {% endif %}

</div>

{% endblock %}